body {
    font-family: 'ABC Synt Unlicensed Trial';
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fffef8;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto 20px; /* Center the container */
}

.header-container h1 {
    font-size: 1rem;
    color: #000000;
    margin: 0;
    font-weight: normal; /* Remove the bold effect */
}

.left {
    text-align: left;
    flex: 1;
}

.center {
    text-align: center;
    flex: 1;
}

.right {
    text-align: right;
    flex: 1;
}

/* Styling the ABOUT link */
.about-link, .dedicate-link {
    text-decoration: none; /* No underline */
    color: inherit; /* Inherit the text color (black) */
    font-weight: normal;
}

/* On hover, change the font to italic */
.about-link:hover, .dedicate-link:hover {
    font-style: italic; /* Italics on hover */
}

/* Content container styling */
#content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.post-box {
    width: 350px; 
    height: 200px;
    border: 1px solid #cecece;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    padding: 10px;
    position: relative;
}

.post-box p {
    font-size: 14px;
    color: #000000;
    margin: 10px 0; /* Add some margin to separate text from image */
    overflow: auto; /* Allow for scrolling */
    text-overflow: ellipsis;
    display: -webkit-box; /* This creates a box for the text */
    -webkit-box-orient: vertical; /* Sets the box to vertical orientation */
    text-align: center; /* Center-align text */
    padding-left: 30px;
    padding-right: 30px;
    position: relative; /* Positioning context for scrollbar */
}

/* Hide scrollbar for WebKit browsers (Chrome, Safari) */
.post-box p::-webkit-scrollbar {
    display: none; /* Hides the scrollbar */
}

/* Hide scrollbar for Firefox */
.post-box p {
    scrollbar-width: none; /* Hides the scrollbar for Firefox */
}

.post-box img {
    max-width: 100%; /* Make the image responsive */
    max-height: 100%; /* Allow image to fit within the box height */
    object-fit: contain; /* Preserve aspect ratio while ensuring it fits in box */
    margin: 10px 0; /* Add margin above and below the image */
    background-color: #fff; /* Set background to white if image doesn't fill the space */
}

/* Links in the post */
.post-box a {
    color: #3498db;
    text-decoration: none;
    position: absolute;
    bottom: 10px;
}

.post-box a:hover {
    text-decoration: underline;
}
